# .gitignore is a file that tells git what files we use in our repo but do not commit

# general ignores (eg, system files)
.DS_Store

# ignore binary (compiled) output in the bin/ folder
bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
